@model Sorting_Algorithm.Models.DataInputModel
@using Sorting_Algorithm.Models;
@using Sorting_Algorithm.Code;

@{
    ViewBag.Title = "DataInputView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DataInputView</h2>

@using (Html.BeginForm("SubmitData", "Home", FormMethod.Post))
{
<t>
    @Html.TextBoxFor(n => n.Name, new { @placeholder = "Enter Name" })
    @Html.TextBoxFor(n => n.Alter, new { @placeholder = "Enter Age" })
    @Html.EnumDropDownListFor(n => n.Geschlecht, "Select Geschlecht", new { @class = "form-control" })
    @Html.EnumDropDownListFor(n => n.Studiengang, "Select Studiengang", new { @class = "form-control" })
    <input type="submit" formaction="SubmitData" value="Anmelden" />
    <li>@Html.ActionLink("DataOutput", "DataOutputView", "DataOutput")</li>
</t>

}


