@model Gruppenverteilung.Models.EditModel
@using Gruppenverteilung.Code;

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group col-lg-12">
                    <label for="groupname"> Gruppenname: </label>
                    <input id="gnInput" name="groupname" type="text" class="form-control" placeholder="Gruppenname" value="@Model.CurrentGroup.Name" />
                </div>
                <div class="form-group col-lg-12">
                    <div class="col-lg-12">
                        <!--_VIEW-->
                        <ul class="list-group">
                            @if (Model.CurrentGroup.TutorList.Count == 0)
                            {
                                <li class="list-group-item">Keine Tutoren Zugewiesen </li>
                            }
                            else
                            {
                                for (int i = 0; i < Model.CurrentGroup.TutorList.Count; i++)
                                {
                                <li class="list-group-item"> @Model.CurrentGroup.TutorList[i].Name </li>
                                }
                            }
                        </ul>
                        <!--/_VIEW-->
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group col-lg-12">
                    <label for="grouproom"> Raum: </label>
                    <input id="grInput" name="grouproom" type="text" class="form-control" placeholder="Raum" value="@Model.CurrentGroup.Room" />
                </div>
                <div class="col-lg-12">
                    <ul class="list-group">
                        @if (Model.CurrentGroup.MemberList.Count == 0)
                        {
                            <li class="list-group-item">Keine Erstis eingetragen</li>
                        }
                        else
                        {
                            for (int i = 0; i < Model.CurrentGroup.MemberList.Count; i++)
                            {
                            <li class="list-group-item">@Model.CurrentGroup.MemberList[i].Vorname, @Model.CurrentGroup.MemberList[i].Name <a id="RemoveMemberButton" onclick="RemoveMember('@Model.CurrentGroup.MemberList[i].Name')" class="btn btn-danger"><i class="fas fa-trash"></i></a></li>
                            }
                        }

                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group col-lg-12">
                    <div class="col-lg-12">
                        <input type="file" class="form-control" placeholder="Raum" />
                    </div>
                </div>
                <div class="col-lg-12">
                    <img class="img-thumbnail" src="https://www.zps-smile.de/wp-content/uploads/2016/10/orionthemes-placeholder-image.png" width="100%" />
                </div>
            </div>
            <div class="col-lg-4">
                <button onclick="updateGroupProperties()" type="button" class="btn btn-success">Änderungen Speichern</button>
            </div>
        </div>
    </div>
</div>
