@model Gruppenverteilung.Models.AdministrationModel
@using Gruppenverteilung.Code;

@{
    ViewData["Title"] = "AdministrationEditView";
    string CurrentRoomName = (Model.SelectedGroup.Room == null) ? "Kein Raum":Model.SelectedGroup.Room;
}

<h2>Zuweisen</h2>

<div class="row">
    <ul class="nav nav-tabs">
        <li><a asp-area="" asp-controller="Administration" asp-action="AdministrationView">Übersicht</a></li>
        <li><a asp-area="" asp-controller="Administration" asp-action="AdministrationImportView">Daten einlesen</a></li>
        <li class="active"><a>Zuweisen</a></li>
    </ul>
</div>
<!--Füge Tut. in grp.-->
<div class="row">
    @if (Model.AddTutorMessage != null)
    {
        <div class="col-lg-12">
            @if (Model.AddIsSuccessful)
            {
                <div class="alert alert-success" role="alert">@Model.AddTutorMessage</div> 
            }
            else
            {
                <div class="alert alert-danger">@Model.AddTutorMessage</div> 
            }
        </div>
    }
        <form asp-controller="Administration" method="post" class="col-lg-12">
            <div class="row">
                <h1>Gruppe</h1>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <p>Gruppe</p>
                    <select asp-for="@Model.SelectedGroupName" asp-items="@Model.GroupSelectList" class="form-control"></select>
                </div>

            </div>

            <hr />

            <div class="row">
                <h2>Tutor zuweisen</h2>
                <div class="col-lg-6">
                    <p>Tutor</p>
                    <select asp-for="@Model.SelectedTutorName" asp-items="@Model.TutorSelectList" class="form-control"></select>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    <input class="btn btn-primary" type="submit" formaction="AddTutor" value="AddTutor" />
                </div>
            </div>

            <hr />

            <div class="row">
                <h2>Tutor entfernen</h2>
                <div class="col-lg-6">
                    <p>Tutor</p>
                   @*  <select asp-for="@Model.SelectedGroup.SelectedTutorName" asp-items="@Model.SelectedGroup.TutorSelectList" class="form-control"></select>*@
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    <input class="btn btn-primary" type="submit" formaction="AddTutor" value="AddTutor" />
                </div>
            </div>

            <hr />

            <div class="row">
                <h2>Raum zuweisen</h2>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <p>Raum</p>
                    <input asp-for="SelectedGroupRoom" class="form-control" value="@CurrentRoomName"/>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <input class="btn btn-primary" type="submit" formaction="AddRoom" value="AddRoom" />
                </div>
            </div>

        </form>
       
</div>
